body{
    background-color:rgb(194, 184, 184);

}
facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background:blue;
    color: white;
  }
  h3{
      color:blue;
      max-width: 2opx;
  } 
.one{
    margin-right:5%;
    float: left;
}
.profile{
    box-flex-group: 20px;
    margin-left:5%;
   
}
h3{
    color:blue;
}
footer{
    box-shadow: 3px 3px 3px 3px blue;
}
  
  

  
