body{
    background-color:rgb(194, 184, 184);

}
facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background:rgb(247, 53, 53);
    color: white;
  }
  h3{
      color:blue;
      text-align: left;
  } 
.one{
    margin-right:5%;
    float: left;
}
.profile{
    box-flex: 20px;
   
}
  
  

  
