body{
    background-color:rgb(194, 184, 184);

}
image{
    float: right;
    margin-top: 30px;
    margin-inline-end:100px;

}
div{
    padding: 5px;
    box-shadow: 5px 3px 5px blueviolet;
}
facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
